
* {
    margin: 0px;
    padding: 0px;
    font-family: tahoma;
}

.contact-list {
    display: flex;
    flex-direction: column;
    gap:10px;
}

.container {
    width: 700px;
    margin: 100px auto 0px;
}

.list-item:nth-child(even){
    background-color: #eee;
}

.list-item {

    display: flex;
    gap: 10px;
    padding: 10px;
    border-radius: 7px;

    img{
        width: 60px;
        height: 60px;
        object-fit: cover;
        border-radius: 6px;
    }
    .item-details {
        h3 {
            font-size: 14px;
        }

        p {

            font-size: 12px;
        }
    }
}

.list-item:hover {
    background-color: #ddd;
    cursor: pointer;
}

.contact-from {

        width: 300px;
        display: flex;
        flex-direction: column;
        gap: 10px;

        input {

            padding: 5px;
            border: 1px solid #333;
        }
    
}